.expo/*
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
_DelSyncFiles/
.DS_Store
out/
package-lock.json
firebase-debug.log
.vscode
.expo/*
_DelSyncFiles/**/*
.com.greenworldsoft.syncfolderspro
node_modules
assets/.DS_Store
assets/images/.DS_Store

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
