node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
_DelSyncFiles/
.DS_Store
out/
package-lock.json
firebase-debug.log
.vscode
.expo/*
_DelSyncFiles/**/*
.com.greenworldsoft.syncfolderspro